@media (min-width:320px) and (max-width:540px){
    
/* global css  */

    .padd{
        padding: 10px;
        display: flex;
        flex-direction: column;

    }

    .btn{
        height: 30px;
        width: 120px;
        font-size: 10px;
        font-weight: bold;
        background-color: #ff8685;
        color: white;
        border: none;
        border-radius: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        cursor: pointer;
        transition: .4s;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .remove{
        display:none
    }

    /* header css  */

    .header{
        height: 50px;
    }

    .container-mobile{
        width: 100%;
    }

    .header_container{
        display: flex;
        flex-direction: column;

    }

    .logo{
        width: 100%;
        font-size: 50px;
        line-height: 50px;
        height: 50px;
    }

    .nav{
        width: 100%;
        height: 250px;
        display: none;
        transition: 0.4s;
    }

    .header:hover{
        background-color: rgba(0, 0, 0, 0.8); 
    }

    .header:hover .nav{
        display: contents;
    }

    .nav>ul{
        background-color: rgba(0, 0, 0, 0.8); 

        width: 100%;
        height: 250px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav>ul>li{
        line-height: 50px;
    }

    /* banner css  */

    .banner{
        height: 300px;
        width: 100%;
        align-items: center;
        background-position: center;
    }

    .banner_details{
        height: 140px;
        margin-left: 40px;
        width: 60%;
    }

    .banner_details>.padd> h1{
        line-height: 30px;
        font-size: 23px;
        letter-spacing: 0.03em;
    }

    .banner_details>.padd> p{
        margin-top: -15px;
    }


    /* other css  */

    .section_title{
        font-size: 45px;
        text-align: center;
    }

    .services_details{
        width: 100%;
    }

    .package{
        width: 100%;
    }

    .sample_img{
        width: 100%;
    }

    .sample_img:hover{
        transform: scale(1.01);
    }

    .footer_container{
        flex-wrap: wrap;
        column-gap: none;
    }
    .footer_child{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .footer_child:nth-child(1){
        height: 50px;
        font-size: 50px;
    }

    .footer_child:nth-child(1) > .padd{
        font-size: 50px;
        margin-left: -15px;
    }

    .footer_child:nth-child(2) h1{
        text-align: left;
        font-size: 25px;

    }

    .footer_child:nth-child(2) p{

        font-size: 18px;
        margin-top: 5px;

    }



}