@media (min-width:320px) and (max-width:540px){


    /* header css  */

    .header{
        height: 50px;
        background-color: transparent;
        
    }

    .header_mobile{
        width: 100%;
    }

    .header_container{
        flex-direction: column;
    }

    .logo{
        background-color: rgba(0, 0, 0, .5);
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
    }

    .nav{
        height: 350px;
        width: 100%;
        display: none;
    }

    .nav>ul{
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .nav>ul>li{
        height: 70px;
        font-size: 15px;
        line-height: 70px;
    }

    .header:hover{
        background-color: black;
    }


    .header_container:hover .nav{
        display: contents;
    }

    

    /* banner css  */


    .banner{
        height: 400px;
        margin-top: -50px;
    }

    .banner_content{
        height: 200px;
        width: 100%;
        background-color: rgba(0, 0, 0, .5);  
    }

    .content{
        background-color: transparent;
        width: 100%;
        height: 200px;
    }

    .slider{
        background-color: transparent;
        height: 100px;
    }

    .constant{
        font-size: 12px;
        line-height: 100px;
        cursor: pointer;

    }

    .constant:hover{
        transform: scale(1.01);
        color: #ff7010;
    }

    .linethrough{
        height: 1px;
        width: 75%;
        background-color: white;
        margin: 0 auto;
        transition: 0.4s;
        margin-bottom: 40px;
    }
    
    .btn{
        height: 25px;
        width: 120px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 12px;
        font-weight: bold;
        color: white;
        border: 1px solid white;
        border-radius: 10px;
        font-family: 'Carter One', cursive;
        cursor: pointer;
        transition: .4s;
        text-transform: uppercase;
        text-align: center;
        line-height: 25px;
        margin: 0 auto;
        letter-spacing: 0.1em;
    }

    .category_cards{
        width: 100% ;
    }

    .authors{
        flex-direction: column;
        row-gap: 20px
    }

    .fauthor{
        width: 100%;
    }

    .about_author p{
        font-size: 16px;
    }

    .fix{
        font-size: 20px;
    }

    /* offer css  */

    .section_title{
        text-align: center;
    }
   
    .offer{
        width: 100%;
        height: 3200px;
        flex-direction: column;
    }

    .offer_cards{
        width: 100%;
        height: 3200px;
        flex-direction: column;
    }

    .card_content{
        width: 100%;
        height: 800px;
    }

    .c2{
        margin-left: 0%;
        margin-top: 800px;

    }

    .c3{
        margin-left: 0%;
        margin-top: 1600px;
        
    }

    .c4{
        margin-left: 0%;
        margin-top: 2400px;
        
        
    }
    

    .c1:hover~.c2{
        margin-top: 3200px;
    }
    
    .c1:hover~.c3{
        margin-top: 3200px;
        
    }
    
    .c1:hover~.c4{
        margin-top: 3200px;
    }
    
    .c1:hover{
        color: #ff7010;
    }
    
    .c2:hover{
        margin-top: 0px;
        color: #ff7010;
    }
    
    .c2:hover~.c3{
        margin-top: 3200px;
        
    }
    
    .c2:hover~.c4{
        margin-top: 3200px;
        
    }
    
    .c3:hover{
        margin-top: 0px;
        color: #ff7010;
    }
    
    .c3:hover~.c4{
        margin-top: 3200px;
    }
    
    .c4:hover{
        margin-top: 0px;
        color: #ff7010;
    }


    .btn_mobile{
        height: 50px;
        width: 250px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 20px;
        font-weight: bold;
        color: white;
        border: 1px solid white;
        border-radius: 10px;
        font-family: 'Carter One', cursive;
        cursor: pointer;
        transition: .4s;
        text-transform: uppercase;
        text-align: center;
        line-height: 50px;
        margin: 0 auto;
        margin-top: 25px;
        letter-spacing: 0.1em;
    }

    /* footer css */

    .footer{
        flex-direction: column;
        row-gap: 10px;
    }
    .foot_container{
        flex-direction: column;
    }

    .footer_content{

        width: 100%;
        font-size: 12px;

    }
    .sociallogo{
        width: 12%;
    }


    
    
    
    


    
    
}
